* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0 0;
}

/*-------- Navbar --------*/

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #7f7f7f;
  box-shadow: 0 0 0 1px #a5a5a5;
  padding: 0 10px;
}

.navbar__rigth {
  display: flex;
  align-items: center;
  gap: 40px;
}
.links {
  text-decoration: none;
  color: initial;
}

.super {
  padding: 0 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -20px;
}
.cart__icon {
  display: flex;
  flex-direction: column;
}
