* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0 0;
}

/*-------- Navbar --------*/

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #3b7197;
  box-shadow: 0 0 0 1px #a5a5a5;
  padding: 0 10px;
}

/* Search Bar Css */
.searchBox {
  position: absolute;
  top: -8px;
  left: 50%;
  transform:  translate(-50%,50%);
  background: #a1e1fa;
  height: 40px;
  border-radius: 40px;
  padding: 6px;

}

.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
}

.searchBox:hover > .searchButton {
background: #3B7197;
color : #091920;
cursor: pointer;
}

.searchButton {
  color: #091920;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3B7197;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border:none;
  background: none;
  outline:none;
  float:left;
  padding: 0;
  color: #091920;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
  width: 150px;
  padding: 0 6px;
}
}

/* Navbar Right */
.navbar__rigth {
  display: flex;
  align-items: center;
  gap: 40px;
}
.links {
  text-decoration: none;
  color: initial;
  color: #a1e1fa;
}

.super {
  padding: 0 3px;
  background-color: #3b7197;
  color: #a1e1fa;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
  top: -20px;
}
.cart__icon {
  display: flex;
  flex-direction: column;
  color: #3b7197;
}
